# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building 
# Jasper2 for your local environment.  It defines the location of all external
# modules that Jasper2 depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.2 2002/08/08 19:45:35 costin Exp $
# -----------------------------------------------------------------------------

# ----- Pointer to Catalina -----
catalina.home=../../jakarta-tomcat-5/build

# ----- Pointer to JSP Standard Tag Library distribution -----
#standard.home=${base.path}/jakarta-taglibs/standard
#jsp20el.jar=${standard.home}/../dist/jsp20el/jsp20el.jar
